.App {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  margin-left: auto;
  margin-right: calc(22vw - 50px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2.2px + 2vh);
  color: rgb(21, 201, 251);
  gap: 2vh;
}

.App-link {
  color: #61dafb;
}

#value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  min-width: 300px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#value-get {
  color: #ff0050;
}

#success {
  color: rgb(7, 255, 7);
}
#fail {
  color: rgb(255, 37, 37);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
